<% @title = title("Reviews of #{@movie.name}") %>
<% if can?(:create, Review) %>
  <div class="text-right mb-2">
    <%= link_to '+ New Review', new_movie_review_path(@movie) %>
  </div>
<% end %>
<%= turbo_frame_tag(dom_id(@movie, :reviews)) do %>
  <%= render @reviews.order(id: :desc) %>
<% end %>
