<% @title = title("Reviews of #{@movie.name}") %>
<% if can?(:create, Review) %>
  <div class="text-right mb-2">
    <%= link_to 'New Review', new_movie_review_path(@movie), class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
<%= render @reviews.order(id: :desc) %>
