<div id="flash_messages">
  <% if notice %>
    <div class="notice py-6 px-4 bg-green-500 text-white">
      <p class="max-w-5xl mx-auto "><%= notice %></p>
    </div>
  <% end %>
  <% if info %>
    <div class="alert py-6 px-4 bg-yellow-500 text-white">
      <p class="max-w-5xl mx-auto rounded"><%= info %></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert py-6 px-4 bg-green-500 text-white">
      <p class="max-w-5xl mx-auto rounded"><%= alert %></p>
    </div>
  <% end %>
</div>
